المتطلبات :تطبيق لحساب الراتب الشهري-
عدد الساعات المطلوبة : 176 ساعة -
22يوم في 8 ساعات 
الراتب الاساسي :176* الاجر بالساعة
الراتب الاضافي : الساعات الاضافية * الاجر بالساعة * 1.25 / انواع الموظفين
انواع الموظفين
1- المدراء : يضاف للراتب الاساسي علاوة المدير بأجمالي واحد في الميه من المرتب الأجمالي
2-قسم الصيانة : يضاف للراتب الأساسي صعوبة عمل 100
3-المبيعات : يضاف للراتب الاساسي عمولة محددة للموظف  علي المبيعات
4-المبرمجين :يضاف للراتب الاساسي عمولة ثلاثة في الميه اذا ما حقق المهام الموكله اليه
